$bg-blue-dark: #17223F;
$bg-blue: #103561;
$white: #fff;
$white-80: #ffffff80;
$white-5: #ffffff05;
$yellow: #FDFF01;
$green: #9CFF2F;
$purple: #543583;
$purple-menu: #5435834d;
$purple-card: #ffffff0d;
$purple-edit:  #5D5C7D;